<div class="root" [style.background-image]="bannerImagePath">
    <a [href]="officalTeamUrl" target="_blank">
        <img class="logo" [src]="logoPath" />
    </a>

    <div class="row float-right mt-2 mr-2">
        <a [href]="faceBookUrl" target="_blank">
            <img class="icon" src="assets/face book.png" />
        </a>
        <a [href]="twitterUrl" target="_blank">
            <img class="icon" src="assets/twitter.png" />
        </a>
        <a [href]="instagramUrl" target="_blank">
            <img class="icon" src="assets/instagram.png" />
        </a>
    </div>
</div>